.answer-button {
  margin: 5px;
}

.answer {
  text-align: left;
  padding-top: 7px;
  font-size: 1.2em;
}

.answer-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100%;
}

/* RADIO BUTTONS */
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border: 4px solid var(--darkBlue);
  padding: 5px;
  cursor: pointer;
  background: radial-gradient(farthest-side, var(--detailOrange) 96%, #0000) 50%/0 0 no-repeat content-box;
}

.radio:checked {
  background: var(--detailOrange) content-box;
  border-color: var(--detailOrange);
  background-size: 100% 100%;
}