.answer {
  margin: 5px;
}

/* RADIO BUTTONS */
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border: 4px solid var(--darkBlue);
  padding: 5px;
  cursor: pointer;
  transition: .3s;
  background: radial-gradient(farthest-side, var(--detailOrange) 96%, #0000) 50%/0 0 no-repeat content-box;
}

.radio:checked {
  background: var(--detailOrange) content-box;
  border-color: var(--detailOrange);
  background-size: 100% 100%;
}